      <hr>

      <div class="footer">
        <p>&copy; 武汉大学acm集训队 2013</p>
      </div>

    </div>

  </body>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://libs.baidu.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
</html>
