      <hr>

      <div class="footer">
        <p>&copy; 武汉大学acm集训队 2013</p>
      </div>

    </div>

  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</html>
