<%- include header %>
<form class="form-horizontal" action="/req" method="post">
  <legend>报名</legend>
  <p>报名采用my.whu.edu.cn的数据，用户名为学号，默认密码为身份证后六位，如有字母X（或x）请用大写。若密码不对请尝试用"888888"（6个8）。</p>
  <p>请耐心等待报名返回结果，报名成功会出现提示。</p>
  <p>如果电话填写有误，请重新报名一次，数据会进行更新。</p>
  <p>报名成功后可以在<a href="/list">参赛名单</a>查看到自己的部分信息。</p>
  <p>如果存在问题，请联系brickgao#gmail.com</p>
  <% if (success) { %>
    <div class = "alert alert-success">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <%= success %>
    </div>
  <% } %>
  <% if (error) { %>
    <div class = "alert alert-error">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <%= error %>
    </div>
  <% } %>
  &nbsp;
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="username">用户名</label>
      <div class="controls">
        <input type="text" class="input-large" style="height: 28px;" id="username" name="username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="passwd">密码</label>
      <div class="controls">
        <input type="password" class="input-large" style="height: 28px;" id="passwd" name="passwd">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">电子邮件</label>
      <div class="controls">
        <input type="text" class="input-large" style="height: 28px;" id="email" name="email">
      </div>
    </div>
    <div class="form-actions">
      <button type="sumbit" class="btn btn-primary">报名</button>
    </div>
  </fieldset>
</form>
<%- include footer %>
