<%- include header %>
  <legend>管理页面</legend>
  <% if (success) { %>
    <div class = "alert alert-success">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <%= success %>
    </div>
  <% } %>
  &nbsp;
  <p>guangtou!</p>
<%- include footer %>
